.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

.direction{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:  14px;
    color: black;
    background-color: azure;
    transition: background-color 0.3s, color 0.3s;

}
.direction:hover{
    background-color:blueviolet;
    color:aliceblue;
}
.MRSELVSTED{
    color:aqua;

}
.BERTA{
    color:aquamarine;

}
.HEDDA{
    color:brown;
}
.HEDDA:hover{
    color: darksalmon;
    text-shadow: 0.5px;
    filter: blur(0.5px);
    border-style: outset;
}
.TESMAN{
    color:crimson;
}
.TESMAN:hover{
    color: darkcyan;
    text-shadow: 0.5px;
    filter: blur(0.5px);
    border-style: outset;
}
.BRACK{
    color:chocolate;
}
.BRACK:hover{
    color:darkorange;
    text-shadow: 0.5px;
    filter: blur(0.5px);
    border-style: outset;
}
table,td,th{
    border: 1px solid;
    color: black;
}
table{
    width:50px;
}
th{
    height:70%;
    text-align: center;
    padding: 15px;
}
td{
    text-align: left;
    padding: 15px;
}
tr:nth-child(even){
    background-color: brown;
}
tr:hover{
    background-color: aqua;

}
